body {
    margin: 0;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    margin-bottom: 50px;
}

.title{
    padding-top: 20px;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.box {
    border: 1px solid black;
}
.container{
    display: grid;
    border: 10px solid red;
    grid-template-columns: repeat(16, 1fr);
    grid-auto-rows: auto;
    width: 480px;
    height: 480px;
    margin: auto;
}

.resolution{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}

ul {
    display: flex;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

li {
    margin: 10px;
}

button {
    font-size: 20px;
    border: none;
    border-radius: 8px;
    background-color: #3882f6;
}
